<div class="row">
  <div class="well">
    <h1 class="text-center">Products</h1>
    <div class="clearfix">
      <% if can? :create, Product %>
        <%= link_to 'New Product', new_product_path, class: 'btn btn-success pull-right' %>
      <% end %>
      <br/>
      <br/>
    </div>
    <div class="list-group">
      <% @products.each do |product| %>
        <div class="list-group-item">
          <div class="media col-md-3">
            <figure class="pull-left">
              <%= image_tag product.image.url, class: 'media-object img-rounded img-responsive' %>
            </figure>
          </div>
          <div class="col-md-6">
            <h4 class="list-group-item-heading"><%= product.title %></h4>
            <p class="list-group-item-text"><%= product.description %></p>
            <br/><br/>
            <ul class="list-inline">
              <li><%= link_to 'Show me more', product_path(product), class: "btn btn-default inline" %></li>
              <% if can? :update, product %>
                <li><%= link_to 'Edit', edit_product_path(product), class: 'btn btn-defaul inline' %></li>
              <% end %>
              <% if can? :destroy, product %>
                <li><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default inline' %></li>
              <% end %>
            </ul>
          </div>
          <div class="col-md-3">
            <% if product.preowned %>
              <span class="label label-warning">Pre-owned</span>
            <% else %>
              <span class="label label-success">New</span>
            <% end %>
            <address>
              <strong>Category: </strong><%= product.category %><br>
              <strong>Price: </strong><%= product.price %> $<br>
            </address>
          </div>
          <div class="clearfix"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
